/* first page banner styles */
.banner{
    background-image: url('../images/banner/banner2.png'); 
    width: 1330px;
    height: 780px;
    top: 0px;
    display: inline-block;
}
.banner-text{
    text-align: right;
    margin-right: 200px;
    margin-top: 250px;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    color: #151414; 
    margin-left: 800px;
}
.banner-description{
    font-size: 15px;
    color: #444343;  
    margin-left: 830px;
}
.banner-button{
    width: 160px;
    height: 64px;
    border: none;
    background-color: orangered;
    color: #FFFFFF;
    border-radius: 3px;}

    /* second page styles */
.second-page{
    display: flex;
    margin: 100px 200px;
}
.texts{
    margin-top: 300px;
}
.failure-title {
    font-size: 40px;
    color: #151414;
}
.failure-description{
    color: #444343;
    font-size: 16px;
}
.failure-lists{ 
    list-style-type: circle;
    color: #444343;
}
/* my plans style */
.my-plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.skill-container {
    display: flex;
    justify-content: space-evenly;
}
.skill-container-2{
    text-align: center;
}
.skill-name{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}
.skill-descriptions{
    color: #737272;
}
/* second banner styles */
.banner-2{
    background-image: url('../images/watch.png');
    display: inline-block;
    width: 1140px;
    height: 300px;
    margin: 50px;
    margin-left: 150px;
    margin-right: 180px;
}
.second-banner-container{
    text-align: left;
    padding: 59px 600px 59px 40px;
}
.second-banner-title{ font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.second-banner-btn{
    width: 160px;
    height: 64px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-radius: 3px;
    border: none;
}
/* last section styles */
.last-section-container{
    background: #151414;
    width: 1330px;
    height: 577px;
    display: flex;
    justify-content: space-between;
}
/* text section styles */
.text-section{
    text-align: left;
    padding: 130px 650px 121px 50px;
}
.text-section-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.text-section-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
/* input section styles */
.input-section{
    padding:130px 40px 130px ;
    align-items: left;

}
.input-section-title{
    font-weight: 600;
    font-size: 25px;
     color: #FFFFFF; 
}
.input-section-button-type{
    width: 200px;
height: 28px;
border-color: #FFFFFF;
border-radius: 3px;
background-color: #151414;
padding: 20px;
color: #F3F3F3;
font-size: 18px;
}
.input-section-button{
    font-weight: 600;
    font-size: 20px;
   color: #F15B22;
   background-color: white;
   width: 160px;
    height: 64px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}